[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
stable-baselines3 = {extras = ["extra"], version = "*"}
gym = "*"
box2d = "*"
pyglet = "*"

[dev-packages]

[scripts]
metrics = "tensorboard --logdir=logs"
train = "python train_models.py"
load = "python load_model.py"

[requires]
python_version = "3.8"
